[Desktop Entry]
Type=Application
Name=Cewka
GenericName=Music Player
GenericName[pl]=Odtwarzacz muzyki
Comment=Minimal player for local audio files
Comment[pl]=Minimalistyczny odtwarzacz plików lokalnych
Exec=cewka %F
Icon=cewka
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;audio;player;
Keywords[pl]=muzyka;dźwięk;odtwarzacz;
StartupNotify=true
StartupWMClass=Cewka
MimeType=audio/mpeg;audio/flac;audio/x-flac;audio/wav;audio/x-wav;audio/ogg;audio/x-vorbis+ogg;audio/opus;audio/x-opus+ogg;audio/mp4;audio/aac;audio/x-m4a;
